* {
    margin: 5px;
  }

p {
    color:white;
}

.sidebar2 p{
    color:black
}
/* telefonas */
@media (max-width: 600px)
{
    .container {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 80px auto 80px 50px;
        grid-template-areas:
        "h h h h"
        "s1 s1 s1 s1"
        "c c c c"
        "s2 s2 s2 s2"
        "f f f f"
    }
}
/* tabletas */
@media (min-width: 600px)
{
    .container {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px auto 80px 50px;
        grid-template-areas:
        "h h h h"
        "s1 c c c"
        "s2 s2 s2 s2"
        "f f f f"
    }
}
/* desktopas */
@media (min-width: 900px)
{
    .container {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px auto 50px;
        grid-template-areas:
        "h h h h"
        "s1 c c s2"
        "f f f f"
    }
}

.header{
    background-color: gray;
    grid-area: h;
    border-radius : 5px;
}

.sidebar{
    background-color: #404040;
    grid-area: s1;
    border-radius : 5px;
}

.content{
    background-color: #404040;
    grid-area: c;
    border-radius : 5px;
}

.sidebar2{
    background-color: #cccccc;
    grid-area: s2;
    border-radius : 5px;
}

.footer{
    background-color: gray;
    grid-area: f;
    border-radius : 5px;
}