html, body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    background-color: #e7e7e7;
}

h1{
    color: white;
    font-weight: 400;
}

h2{
    font-weight: 400;
    padding: 0 20px;
    margin: 10px 10px;
}

header{
    background-color: #177cc2;
    display: flex;
    height: 8%;
    padding-left: 30px;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    
}

.imgcard{
    box-shadow: 0px 0px 20px gray;
    background-color: white;
    margin: 10px 10px;
    font-size: 18px;
    width: calc(33% - 30px)
}

.imgcard img{
    width: 100%;
    height:auto;
    aspect-ratio: 5/3;
}

/* Tablet */
@media all and (max-width:900px)
{
    .imgcard{
        width: calc(50% - 30px);
    }

}

/* Phone */
@media all and (max-width:600px)
{
    .imgcard{
        width: 100%;
    }
}