*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
  font-family: 'DM Serif Display', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin:200px auto;
}

.flex-container {
  display: flex;
}

h2 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
}

p {
  font-family: 'Jost', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: 1%;
  color: #4D5053;
  font-weight: 400;
}

/* header */

.site-header {
  width: 100%;
  Display:block; 
}
 
.site-header .container {
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  margin: 0 auto;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin-right: 40px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav a {
  text-decoration: none;
  color: #292F36;
  font-size: 1.25rem;
  font-family: 'Jost', sans-serif;
  line-height: 125%;
  transition: color 0.3s ease-in-out;
}

.header-nav a:hover {
  color: #CDA274; 
}

/* banner */

.banner {
  background-image: url("../images/banner.png");
  align-items: center;
  border-radius: 70px;
  min-height: 758px;
  margin-top: 0;
}

.banner-content {
  max-width: 600px;
  text-align: left;
  padding: 0 50px;
}

.banner h1 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  font-size: 4.0625rem;
  line-height: 125%;
  font-weight: 400;
}

.btn {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  background-color: #292F36;
  padding: 29px 49px;
  border-radius: 18px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out; 
}

.btn .bi{
  color: #CDA274;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 100%;
  margin-left: 5px;
}

.banner-button:hover {
  background-color: #0f1214; /* change to the desired button hover color */
}

/* work */

.col {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.col h3 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  letter-spacing: 2%;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 125%;
}

.col p {
  padding: 20px 20px;
}

.col .read-button {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 2%;
  color: #4D5053;
  background: none;
  padding: 10px 20px;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.col .read-button:hover {
  color: #CDA274;
}

.col .read-button .bi{
  color: #CDA274;
  font-size: 1.125rem;
  line-height: 125%;
  letter-spacing: 2%;
}

/* about us */

.left {
  margin-right: 75px;
  margin-top: 43px;
}

.left h2 {
  margin-bottom: 33px;
  margin-right: 50px;
}

.left p {
  margin-right: 10px;
}

.phone {
  margin-top: 45px;
  margin-bottom: 47px;
}

.phone i {
  font-size: 2rem;
  background-color: #F4F0EC;
  border-radius:50%;
  color: #CDA274;
  padding:  40px;
}
.phone-number p{
  margin-left: 15px;
}

.phone-number .number {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 2%;
  color: #4D5053;
  margin-bottom: 0;
}
.phone-number .cta {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1%;
  color: #4D5053;
  margin-top: 0;
}

.right img{
  border-radius: 0px 326px 0px 123px;
}

/* testimonials */

.testimonial .container{
background-color: #F4F0EC;
border-radius: 70px;
padding: 88px;
}

.testimonial h2 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.testimonial-cards {
  display: flex;
  justify-content: space-around;
}

.testimonial-card {
  padding: 53px 37px;
  background-color: white;
  border-radius: 20px;
  min-width: 370px;
  margin: 0 10px;
}

.testimonial-card img {
  max-width: 77px;
  max-height: 77px;
  margin-right: 23px;
}

.testimonial-author {
  align-items: center;
}

.name-location {
 flex-direction: column;
}

.name-location h3 {
  font-family: 'DM Serif Display', serif;
  color: #292F36;
  letter-spacing: 1%;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: auto;
}

.name-location p {
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 1%;
  color: #4D5053;
  margin-top: auto;
}

/* client-logos */

.logos{
  justify-content: space-around;
  align-items: center;
  margin: -50px auto;
}

/* contact-form */
.contact-form-section {
  margin-top: 150px;
  margin-bottom: 100px;
}

.contact-form {
  max-width: 66.67%;
}

.form{
  justify-content: space-between;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: calc(50% - 40px);
  margin-bottom: 40px;
  margin-top: 0px;
  padding-bottom: 13px;
}

.left {
  margin-right: 20px;
}

.contact-form textarea {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  min-width: calc(100% - 55px);
  margin-bottom: 70px;
  resize: none;
  padding-bottom: 130px;
}

.contact-form .btn {
padding: 26px 54px;
margin-left: 525px;
}

.contact-form ::placeholder{
  font-family: 'Jost', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 1%;
  color: #4D5053;
}
